<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conversion Form</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Conversion Form</h2>
    <form th:action="@{/conversion_form}" th:object="${valute}" method="post">
        <label>Enter amount: </label>
        <input type="text" th:field="*{value}"/>
        <input type="text" th:field="*{idFrom}"/>
        <input type="text" th:field="*{idTo}"/>
        <!--        <p>-->
        <!--            <select th:field="*{valute}"> тут выдает ошибку!!!!!-->
        <!--                <option th:value="'AUD'" th:text="Австралийский доллар"></option>-->
        <!--                <option th:value="'AZN'" th:text="Азербайджанский манат"></option>-->
        <!--            </select>-->
        <!--        </p>-->
        <!--        <p>-->
        <!--            <select th:field="*{valute}">-->
        <!--                <option th:value="'AUD'" th:text="Австралийский доллар"></option>-->
        <!--                <option th:value="'AZN'" th:text="Азербайджанский манат"></option>-->
        <!--            </select>-->
        <!--        </p>-->
        <input type="submit" value="convert">
    </form>
</div>
</body>
</html>