<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conversion Form</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Conversion Form</h2>
    <form th:action="@{/conversion_form}" th:object="${valute}" method="post">
        <div>
            <label>Enter amount: </label>
            <input type="text" th:field="*{value}"/>
            <input type="text" th:field="*{idFrom}"/>
            <input type="text" th:field="*{idTo}"/>


<!--        </div>-->
<!--        <div>-->
<!--            <select th:field="*{valute}" >-->
<!--                <option th:each="valute : ${idFrom}"-->
<!--                        th:value="${idFrom}" th:text="${idFrom.description}">value-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
<!--            <select th:field="*{idTo}">-->
<!--                <option th:each="idTo : ${idTo}"-->
<!--                        th:value="${AZN}">-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
            <input type="submit" value="convert">
        </div>
    </form>
</div>
</body>
</html>