<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conversion Form</title>
</head>
<body>
<div style="text-align: center;">
    <h2>Conversion Form</h2>
    <form th:action="@{/conversion_form}" th:object="${valute}" method="post">
        <label>Enter amount: </label>
        <input type="text" th:field="*{value}"/><br>
        <!--        <input type="text" th:field="*{idFrom}"/>-->
        <!--        <input type="text" th:field="*{idTo}"/>-->
        <label>Select a first currency for converting:</label>
        <select th:field="*{selectFirstCurrency}">
            <option th:each="v : ${valuteName}" th:value="${v}" th:text="${v}"/>
        </select><br>
        <label>Select a second currency for converting:</label>
        <select th:field="*{selectSecondCurrency}">
            <option th:each="v : ${valuteName}" th:value="${v}" th:text="${v}"/>
        </select><br>
        <input type="submit" value="convert">
    </form>
</div>
</body>
</html>