<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
</head>
<body>
<div align="center"/>
<h1>Currency Converter</h1>
<a href="conversion_form.html">Go to conversion</a>
<br>
<br>
<script language="javascript" type="text/javascript">
var d = new Date();
var day = new Array("Воскресенье", "Понедельник", "Вторник",
    "Среда", "Четверг", "Пятница", "Суббота");
var month = new Array("января", "февраля", "марта", "апреля", "мая", "июня",
    "июля", "августа", "сентября", "октября", "ноября", "декабря");

document.write(day[d.getDay()] + " " + d.getDate() + " " + month[d.getMonth()]
    + " " + d.getFullYear() + " г.");
</script>
</body>
</html>