<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
</head>
<body>
<div style="text-align: center;"/>
<h2>Currency Converter v.1</h2>

<!--<p th:text="${result}">-->


<form th:method="POST" th:action="@{/ }" th:object="${valute}">
    <label for="value">Enter amount: </label>
    <input type="text" th:field="*{value}" id="value" size="15"/>
    <select th:field="*{from}">
        <option th:value="*{AUD}">Австралийский доллар (AUD)</option>
    </select>
    <label for="toAmount">Converted amount: </label>
    <input type="text" th:field="${toAmount}" id="toAmount" size="15" disabled/>
    <select th:field="*{to}">
        <option th:value="*{AZN}">Азербайджанский манат (AZN)</option>
    </select>
    <input type="submit" value="Convert"/>
</form>

</body>
</html>